* {
	padding: 0;
	margin: 0;
	border: 0;
}


html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: rgb(119, 119, 118);
	display: flex;
}

.wrapper {
	display: flex;
    justify-content: center;
    align-items: center;
	margin: 0 auto;
}

.wrapper__conteiner {}

.wrapper__conteiner_content {
}

.photo__input {
	display: none;
}

.photo__container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 50px;
}

.photo__conteiner_content {
	display: flex;
	justify-content: center;
	min-width: 60%;
	background-color: black;
	border-radius: 10px;
	padding: 20px;
}

.dev_1 {
	opacity: 1;

}

.dev_2 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.dev_3 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.dev_4 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.photo__conteiner_buttons_menu {
	max-width: 65%;
	display: flex;
	gap: 20px;
	justify-content: space-between;
	margin: 0 auto;
	align-items: center;
}

.photo__conteiner_buttons_menu_content {
	display: flex;
	flex-direction: row;
}

.photo__conteiner_bottom_button_1 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.6em;
	height: 1.6em;
	padding: 0.4em;
	cursor: pointer;
}

.about__button_in_button {
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-radius: 0.8em;
	background-color: #465562;
}

.text__conteiner {}

.text__container_content {
	display: flex;
	flex-direction: row;
	font-family: 'Inclusive Sans', sans-serif;
	font-size: 25px;
	letter-spacing: 1px;
	line-height: 40px;
}

.text1 {
	opacity: 1;
}

.text2 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.text3 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}

.text4 {
	opacity: 0;
	visibility: hidden;
	height: 0;
	width: 0;
}