* {
	padding: 0;
	margin: 0;
	border: 0;
}


html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	scroll-behavior: smooth;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	background-color: rgb(209, 209, 208);
	display: flex;
}

.wrapper__conteiner {
	height: 650px;
	margin: 100px auto 0;
	position: relative;
	width: 600px;
}

.photo__container {
	height: inherit;
	overflow: hidden;
	position: relative;
	width: inherit;
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.photos {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
}

#control_photo_1:checked~.photo__container>.photo_1,
#control_photo_2:checked~.photo__container>.photo_2,
#control_photo_3:checked~.photo__container>.photo_3,
#control_photo_4:checked~.photo__container>.photo_4 {
	opacity: 1;
	z-index: 1;
}

.lines {
	height: inherit;
	opacity: 0;
	position: absolute;
	width: inherit;
	z-index: 0;
}

#control_photo_1:checked~.wrapper__conteiner_text>.line1,
#control_photo_2:checked~.wrapper__conteiner_text>.line2,
#control_photo_3:checked~.wrapper__conteiner_text>.line3,
#control_photo_4:checked~.wrapper__conteiner_text>.line4 {
	opacity: 1;
	z-index: 2;
}

.wrapper__conteiner>input {
	display: none;
}

.wrapper__conteiner .wrapper__conteiner_controls {
	left: 50%;
	margin-left: -98px;
	position: absolute;
}

.wrapper__conteiner label:after {
	border: 2px solid #0c0a0a;
	content: " ";
	display: block;
	height: 12px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 12px;
	border-radius: 50%;
}

.wrapper__conteiner label {
	cursor: pointer;
	display: inline-block;
	height: 8px;
	margin: 25px 12px 0 16px;
	position: relative;
	width: 8px;
	border-radius: 50%;
	transition: background ease-in-out .5s;
}

.wrapper__conteiner label:hover,
#control_photo_1:checked~.wrapper__conteiner_controls label:nth-of-type(1),
#control_photo_2:checked~.wrapper__conteiner_controls label:nth-of-type(2),
#control_photo_3:checked~.wrapper__conteiner_controls label:nth-of-type(3),
#control_photo_4:checked~.wrapper__conteiner_controls label:nth-of-type(4) {
	background: #0c0a0a;
}